body {
    background-image: url('../img/plano-fundo.jpg');
    background-repeat: no-repeat;
    background-size:100%;
    bottom: 0;
    color: black;
    left: 0;
    overflow: auto;
    padding: 3em;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    background-size: cover;
}

label#boasvindas {
    font-size: 60px;
    font: bolder;
}

.form-page-initial {
    border: none;
    border-radius: 30px;
    color: black;
    background: rgba(15, 228, 243, 0.999);
    border-radius: 10px;
    padding: 20px;
    width: 380px;
    margin: auto;
    box-shadow: 3px 3px 10px rgb(207, 207, 207);
    margin-top: 150px;
}

